p-table {
    padding: 0px 15px 0px 15px;
}

@mixin container {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
}

.header-filter {
    font-size: 12px;
}

div.body-container {
    @include container;
}

div.header-container {
    @include container;
}

.body-container-input {
    font-size: 12px;
}


.column-multiselect {
    font-size: 12px;
}